html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
    to right bottom,
    rgb(51, 51, 51, 0.8),
    rgb(51, 51, 51, 0.8)
  );
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.spasora {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  margin-bottom: -33px;
  z-index: -1;
}

.logo {
  width: 10%;
  margin: 2rem;
}

.countdown {
  /* background: rgb(51, 51, 51, 0.8); */
  text-align: center;
  color: #fff;
}

.launch {
  font-size: 3rem;
}

.days {
  font-weight: 800;
}

.subscribe {
  font-size: 1.4rem;
  margin-top: 34px;
}

.email {
  font-size: 1.5rem;
  font-family: inherit;
  color: #333333;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 30%;
  margin-top: 20px;
  transition: all 0.3s;
}

.email:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid #4daaa7;
}

.email:focus:invalid {
  border-bottom: 4px solid #ff7730;
}

.email::-webkit-input-placeholder {
  color: #999;
}

.subscribe-btn {
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: #4daaa7;
  border: 1px solid #4daaa7;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
}

.subscribe-btn:hover {
  color: #fff;
}

canvas {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
}

#confetti {
  display: none;
}

@media only screen and (max-width: 600px) {
  .subscribe-btn {
    background-color: red;
  }
}
