html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
    to right bottom,
    rgb(51, 51, 51, 0.8),
    rgb(51, 51, 51, 0.8)
  );
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.spasora {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  margin-bottom: -33px;
  z-index: -1;
}

.logo {
  width: 10%;
  margin: 2rem;
}

.countdown {
  text-align: center;
  color: #fff;
}

.launch {
  font-size: 3rem;
  line-height: 3.2rem;
}

.days {
  font-weight: 800;
}

.subscribe {
  font-size: 1.4rem;
  margin-top: 34px;
}

.email {
  font-size: 1.5rem;
  font-family: inherit;
  color: #333333;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 30%;
  margin-top: 20px;
  transition: all 0.3s;
}

.email:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid #4daaa7;
}

.email:focus:invalid {
  border-bottom: 4px solid #ff7730;
}

.email::-webkit-input-placeholder {
  color: #999;
}

.subscribe-btn {
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: #4daaa7;
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.subscribe-btn:hover {
  color: #fff;
}

.thanks {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 3.2rem;
  display: none;
}

.loader-wrapper {
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4daaa7;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .spasora {
    margin-bottom: 0px;
  }

  .logo {
    width: 20%;
  }

  .email {
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 12px;
  }

  .subscribe-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .subscribe {
    margin: 34px 10px;
  }
}
